.c-blog-author {
    position: relative;
    display:flex;
    justify-content:flex-start;
    align-items:flex-end;

    &__avatar {

        img {
            @include shadow;

            border-radius: 50%;
            width: 4.5rem;
            opacity: 0.9;
        }
    }

    &__text {
        @include spacing(padding, left, box);
    }

    &__link {
        @include full-cover;
    }

    &:after {
        content: "";
        display: block;
        clear: both;
    }

    &:hover {
        .c-blog-author__avatar {
            transform: scale3d(1.1, 1.1, 1.1);
        }
    }
}
