.b-highlight {
    @include section;

    &__container {
        @include container;
        display: flex;
        flex-direction:column;

        .b-highlight--yellow & { 
            background: $color-yellow; 
            & {
                h1,h2,h3,h4,h5,h6,p,span {
                    color: black;
                }

                a, a.c-btn {
                    border-color: black;
                    color: black;
                }
            }
        }

        .b-highlight--pink & {
            background: $color-pink-lighter;
            & {
                h1,h2,h3,h4,h5,h6,p,span {
                    color: black;
                }

                a, a.c-btn {
                    border-color: black;
                    color: black;
                }

                .c-btn--arrow {
                    &:before {
                        background-image: url('../img/chevron.svg');
                    }
                }
            }
        }

        .b-highlight--green & {
            background: $color-green-lighter;
            & {
                h1,h2,h3,h4,h5,h6,p,span {
                    color: black;
                }

                a, a.c-btn {
                    border-color: black;
                    color: black;
                }

                .c-btn--arrow {
                    &:before {
                        background-image: url('../img/chevron.svg');
                    }
                }
            }
        }

        .b-highlight--blue & {
            background: $color-blue-bright; 
            & {
                h1,h2,h3,h4,h5,h6,p,span {
                    color: white;
                }

                a, a.c-btn {
                    border-color: white;
                    color: white !important;
                }

                .c-btn--arrow {
                    &:before {
                        background-image: url('../img/chevron-white.svg');
                    }
                }

                svg, svg * {
                    fill: white;
                }
            }
        }

        @include bp(md) {
            flex-direction:row;
        }
    }
    &__main {
        @include spacing(padding,all,itemspace);
        width:100%;
        @include bp(md) {
            display:flex;
            width:75%;
        }
    }
    &__image {
        width:50px;
        @include spacing(margin,bottom,box);
        @include bp(md) {
            width:33.333%;
            margin-bottom:0;
        }
        img {
            max-width:100px;
            width:100%;
        }

        svg {
            width: 100%;
            height: 128px;
            padding-right: 2rem;
        }
    }

    &__text {
        width:100%;
    }

    &__readmore {
        width:100%;
        position: relative;
        @include spacing(padding,all,itemspace);
        padding-top:0;

        @include bp(md) {
            text-align: center;
            width:30%;
            padding:0;
        }
        a {
            @include font-size(lg);
            white-space: nowrap;
            @include bp(md) {
                @include align-element;
            }
        }
    }
}
