.l-blog {

    &--single {
        @include bp(sm) {
            display: flex;
        }
    }

    &__content {
        @include spacing(margin, bottom, section);

        @include bp(sm) {
            margin-bottom: 0;
            width: 75%;
            @include spacing(padding, right, itemspace);
        }

        &__listing {
            @include animation-sequence(0.10, 20);
            display:flex;
            flex-wrap: wrap;

            &>* {
                @include animation();
            }
        }
    }

    &__sidebar {
        @include bp(sm) {
            width: 25%;
        }

        &__sticky {
            @include bp(sm) {
                position: sticky;
                top: 75px;
            }
        }
    }


    ul.page-numbers {
        @include spacing(margin, top, itemspace);
    }

    &:after {
        clear: both;
        display: block;
        content: "";
    }
}
